In [3]:
#Ignorar os erros
import warnings
warnings.filterwarnings('ignore')
#pandas
import pandas as pd

In [4]:
#importando os dataset's

df_agregados = pd.read_csv('./AGREGADOS_02.csv',delimiter=';')

df_pacotes = pd.read_csv('./pacotes_entregues_310124_processado.csv',delimiter=',')

In [3]:
df_valores = pd.read_csv('./',delimiter=';')

In [4]:
df_valores.head(2)

         BASE       CIDADE              BAIRRO VALOR TIPO_VEICULO
0  CD NVI 001  NOVA IGUAÇU  BAIRRO INEXISTENTE   2,8        CARRO
1  CD NVI 001  NOVA IGUAÇU               KM 32   3,7        CARRO

In [133]:
df_pacotes.head()

,NUMERO_PEDIDO_JMS,FRANQUEADO,BASE_ENTREGA,AGREGADO,ASSINATURA,VALOR_MERCADORIA,CEP,ENDERECO_COMPLETO,CIDADE,BAIRRO,DESTINATARIO,HORARIO_ENTREGA,CPF_CNPJ,PESO_COBRAVEL
0,888000379408869,NP RIO 02,CD RIO 006,TAC CARRO - LEONARDO ANDRE MEDEIROS PALACIO,RECEBIMENTO COM ASSINATURA NORMAL,66.03,23092001,"EST DO MENDANHA 2795, GIRASSOL RUA D LT 2EST D...",RIO DE JANEIRO,CAMPO GRANDE,STELLA CARNEIRO DA SILVA,2024-01-31,7940421719,0.46
1,888000386633236,NP LIN 01,CD SMT 001,MEI CARRO - CARLA CRISTINA SILVA MORAIS OLIVEIRA,RECEBIMENTO COM ASSINATURA NORMAL,6.95,29890000,ROMILDA MARTINELLIROMILDA MARTINELLI 625,MONTANHA,BAIRRO INEXISTENTE,IRIS FERNANDES,2024-01-31,10831395761,0.39
2,888000390218177,NP LIN 01,CD CLN 001,TAC CARRO - JOSIAS BARROS PEIXOTO,RECEBIMENTO COM ASSINATURA NORMAL,3.60,29645000,RUA JOSE MULLER REFERÊNCIA POSTO DE SAÚDERUA J...,SANTA MARIA DE JETIBÁ,BAIRRO INEXISTENTE,VANUSA GUMES MULLER,2024-01-31,703448765,0.08
3,888000390868214,NP RIO 02,CD RIO 006,MEI CARRO - IAGO LEMOS SANTANA DA SILVA,RECEBIMENTO COM ASSINATURA NORMAL,79.47,23590060,AVENIDA CESÁRIO DE MELOAVENIDA CESÁRIO DE MELO...,RIO DE JANEIRO,SANTA CRUZ,VITORIA GRUND,2024-01-31,12330348711,0.80
4,888000391825313,NP RIO 02,CD RIO 001,MEI CARRO - MARCELO BALDUINO DE ASSIS,RECEBIMENTO COM ASSINATURA NORMAL,33.52,22763010,RUA EDGARD WERNECK- 77RUA EDGARD WERNECK- 77 B...,RIO DE JANEIRO,PECHINCHA,VIVIANE DE OLIVEIRA SANTOS,2024-01-31,5258436713,2.70

In [134]:
#Fazendo o Join  entre o dataframe df_pacotes X df_agregados

df_pacotes_agregados = pd.merge(df_pacotes,df_agregados,on=['CPF_CNPJ'],how='left')
                                
df_pacotes_agregados.shape

(14195, 19)

In [135]:
#Exibindo o dataframe apos o Join

df_pacotes_agregados.head()

,NUMERO_PEDIDO_JMS,FRANQUEADO,BASE_ENTREGA,AGREGADO_x,ASSINATURA,VALOR_MERCADORIA,CEP,ENDERECO_COMPLETO,CIDADE,BAIRRO,DESTINATARIO,HORARIO_ENTREGA,CPF_CNPJ,PESO_COBRAVEL,PLACA,BASE_VINCULADO,TIPO_VEICULO,MARCA_VEICULO,AGREGADO_y
0,888000379408869,NP RIO 02,CD RIO 006,TAC CARRO - LEONARDO ANDRE MEDEIROS PALACIO,RECEBIMENTO COM ASSINATURA NORMAL,66.03,23092001,"EST DO MENDANHA 2795, GIRASSOL RUA D LT 2EST D...",RIO DE JANEIRO,CAMPO GRANDE,STELLA CARNEIRO DA SILVA,2024-01-31,7940421719,0.46,LNT6310,RJ,CARRO,HONDA CIVIC,TAC CARRO - LEONARDO ANDRE MEDEIROS PALACIO
1,888000386633236,NP LIN 01,CD SMT 001,MEI CARRO - CARLA CRISTINA SILVA MORAIS OLIVEIRA,RECEBIMENTO COM ASSINATURA NORMAL,6.95,29890000,ROMILDA MARTINELLIROMILDA MARTINELLI 625,MONTANHA,BAIRRO INEXISTENTE,IRIS FERNANDES,2024-01-31,10831395761,0.39,PPM9J87,CD SMT 001,CARRO,CHEVROLET,MEI CARRO - CARLA CRISTINA SILVA MORAIS OLIVEIRA
2,888000390218177,NP LIN 01,CD CLN 001,TAC CARRO - JOSIAS BARROS PEIXOTO,RECEBIMENTO COM ASSINATURA NORMAL,3.60,29645000,RUA JOSE MULLER REFERÊNCIA POSTO DE SAÚDERUA J...,SANTA MARIA DE JETIBÁ,BAIRRO INEXISTENTE,VANUSA GUMES MULLER,2024-01-31,703448765,0.08,HCH1H12,CD CLN 001,CARRO,CITROEN,TAC CARRO - JOSIAS BARROS PEIXOTO
3,888000390868214,NP RIO 02,CD RIO 006,MEI CARRO - IAGO LEMOS SANTANA DA SILVA,RECEBIMENTO COM ASSINATURA NORMAL,79.47,23590060,AVENIDA CESÁRIO DE MELOAVENIDA CESÁRIO DE MELO...,RIO DE JANEIRO,SANTA CRUZ,VITORIA GRUND,2024-01-31,12330348711,0.80,LRK5A30,CD RIO 006,CARRO,NISSAN VERSA,MEI CARRO - IAGO LEMOS SANTANA DA SILVA
4,888000391825313,NP RIO 02,CD RIO 001,MEI CARRO - MARCELO BALDUINO DE ASSIS,RECEBIMENTO COM ASSINATURA NORMAL,33.52,22763010,RUA EDGARD WERNECK- 77RUA EDGARD WERNECK- 77 B...,RIO DE JANEIRO,PECHINCHA,VIVIANE DE OLIVEIRA SANTOS,2024-01-31,5258436713,2.70,LMT3D06,DC RIO 001,CARRO,FIAT,MEI CARRO - MARCELO BALDUINO DE ASSIS

In [136]:
#Excluindo a colunas que replicou

df_pacotes_agregados.drop(['AGREGADO_y'],axis=1,inplace=True)

#Modificando o nome da colunas

df_pacotes_agregados.rename(columns={'AGREGADO_x':'AGREGADO'},inplace=True)

#Exibindo as info 

df_pacotes_agregados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14195 entries, 0 to 14194
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  14195 non-null  int64
 1   FRANQUEADO         14195 non-null  object
 2   BASE_ENTREGA       14195 non-null  object
 3   AGREGADO           14195 non-null  object
 4   ASSINATURA         14195 non-null  object
 5   VALOR_MERCADORIA   14195 non-null  float64
 6   CEP                14195 non-null  int64
 7   ENDERECO_COMPLETO  14195 non-null  object
 8   CIDADE             14195 non-null  object
 9   BAIRRO             14195 non-null  object
 10  DESTINATARIO       14195 non-null  object
 11  HORARIO_ENTREGA    14195 non-null  object
 12  CPF_CNPJ           14195 non-null  int64
 13  PESO_COBRAVEL      14195 non-null  float64
 14  PLACA              14191 non-null  object
 15  BASE_VINCULADO     14182 non-null  object
 16  TIPO_VEICULO       14191 non-null  object
 17  MARCA_VEICULO      14191 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 2.1+ MB

In [137]:
#Exibindi informação do dataframe 

df_valores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BASE          1437 non-null   object
 1   CIDADE        1437 non-null   object
 2   BAIRRO        1437 non-null   object
 3   VALOR         1437 non-null   object
 4   TIPO_VEICULO  1437 non-null   object
dtypes: object(5)
memory usage: 56.3+ KB

In [138]:
#Realizando um Join com o dataframe de valores

df_pacotes_full = pd.merge(df_pacotes_agregados,df_valores,on=['CIDADE','BAIRRO','TIPO_VEICULO'],how='left')

#Exibindo a dimensão

df_pacotes_full.shape

(14213, 20)

In [139]:
#Verificando os nulos e quantidade a mais de pacotes

df_pacotes_full.isnull().sum()

NUMERO_PEDIDO_JMS       0
FRANQUEADO              0
BASE_ENTREGA            0
AGREGADO                0
ASSINATURA              0
VALOR_MERCADORIA        0
CEP                     0
ENDERECO_COMPLETO       0
CIDADE                  0
BAIRRO                  0
DESTINATARIO            0
HORARIO_ENTREGA         0
CPF_CNPJ                0
PESO_COBRAVEL           0
PLACA                   4
BASE_VINCULADO         13
TIPO_VEICULO            4
MARCA_VEICULO           4
BASE                 7952
VALOR                7952
dtype: int64

In [140]:
#Filtrando os pacotes nulos

df_nulos = df_pacotes_full[df_pacotes_full['VALOR'].isna()]

df_nulos.shape

(7952, 20)

In [141]:
#Exibindo o dataframe

df_nulos.isnull().sum()

NUMERO_PEDIDO_JMS       0
FRANQUEADO              0
BASE_ENTREGA            0
AGREGADO                0
ASSINATURA              0
VALOR_MERCADORIA        0
CEP                     0
ENDERECO_COMPLETO       0
CIDADE                  0
BAIRRO                  0
DESTINATARIO            0
HORARIO_ENTREGA         0
CPF_CNPJ                0
PESO_COBRAVEL           0
PLACA                   4
BASE_VINCULADO          8
TIPO_VEICULO            4
MARCA_VEICULO           4
BASE                 7952
VALOR                7952
dtype: int64

In [142]:
#Excluíndo os atributos para realizar um novo join

df_nulos.drop(['VALOR','BASE','MARCA_VEICULO','BASE_VINCULADO','PLACA'],axis=1,inplace=True)

#Exibindo os atributos

df_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7952 entries, 6 to 14209
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  7952 non-null   int64
 1   FRANQUEADO         7952 non-null   object
 2   BASE_ENTREGA       7952 non-null   object
 3   AGREGADO           7952 non-null   object
 4   ASSINATURA         7952 non-null   object
 5   VALOR_MERCADORIA   7952 non-null   float64
 6   CEP                7952 non-null   int64
 7   ENDERECO_COMPLETO  7952 non-null   object
 8   CIDADE             7952 non-null   object
 9   BAIRRO             7952 non-null   object
 10  DESTINATARIO       7952 non-null   object
 11  HORARIO_ENTREGA    7952 non-null   object
 12  CPF_CNPJ           7952 non-null   int64
 13  PESO_COBRAVEL      7952 non-null   float64
 14  TIPO_VEICULO       7948 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 994.0+ KB

In [143]:
#Realizando o JOin com os pedidos que não possuem bairros cadastrados

df_nulos_proc = pd.merge(df_nulos,df_valores,on=['CIDADE','TIPO_VEICULO'],how='left')

#Exibindo a dimensão

df_nulos_proc.shape

(98192, 18)

In [144]:
#Excluí os duplicados

df_nulos_proc.drop_duplicates(subset=['NUMERO_PEDIDO_JMS'],inplace=True)

df_nulos_proc.shape

(7952, 18)

In [145]:
#Exibindo o dataframe

df_nulos_proc.head()

,NUMERO_PEDIDO_JMS,FRANQUEADO,BASE_ENTREGA,AGREGADO,ASSINATURA,VALOR_MERCADORIA,CEP,ENDERECO_COMPLETO,CIDADE,BAIRRO_x,DESTINATARIO,HORARIO_ENTREGA,CPF_CNPJ,PESO_COBRAVEL,TIPO_VEICULO,BASE,BAIRRO_y,VALOR
0,888000392615429,NP CFB 01,CD ARR 001,TAC BIKE - RUDVAN FERREIRA AGUIAR,RECEBIMENTO COM ASSINATURA NORMAL,1.40,28979350,RUA XV DE NOVEMBRORUA XV DE NOVEMBRO 600,ARARUAMA,XV DE NOVEMBRO,LUIZA GONZAGA,2024-01-31,14272449796,0.06,BIKE,CD ARR 001,BAIRRO INEXISTENTE,2
1,888000393606001,NP CFB 01,CD ARR 001,TAC BIKE - RUDVAN FERREIRA AGUIAR,RECEBIMENTO COM ASSINATURA NORMAL,116.94,28979425,RUA OÁSISRUA OÁSIS 240,ARARUAMA,XV DE NOVEMBRO,EUNICE SILVA DE JESUS CARVALHO,2024-01-31,14272449796,3.12,BIKE,CD ARR 001,BAIRRO INEXISTENTE,2
2,888000395520855,NP DQC 01,CD DQC 002,MEI CARRO - DIEGO CESAR RODRIGUES FERREIRA,RECEBIMENTO COM ASSINATURA NORMAL,54.08,25264050,RUA ITACAMBIRARUA ITACAMBIRA 91,DUQUE DE CAXIAS,JARDIM ANHANGA,GLEYCIANE SANTOS,2024-01-31,9751596742,1.30,CARRO,CD DQC 002,BAIRRO INEXISTENTE,3
7,888000395795665,NP LIN 01,CD SMT 001,TAC CARRO - SELTON BATISTA DA SILVA GUIDI,RECEBIMENTO COM ASSINATURA NORMAL,69.80,29945580,RUA MUCURICIRUA MUCURICI 676,SÃO MATEUS,GURIRI SUL,MARIA AIRES,2024-01-31,16266709783,4.84,MOTO,CD SMT 001,BAIRRO INEXISTENTE,"2,3"
8,888000396102391,NP NVI 01,CD SJT 001,TAC MOTO - RAPHAEL VICTOR MARCOS DA SILVA,RECEBIMENTO COM ASSINATURA NORMAL,19.97,25565541,AVENIDA JOÃO DE DEUS MENEZES LOTE 12 QUADRA 1 ...,SÃO JOÃO DE MERITI,VENDA VELHA,VICTÓRIA GONÇALVES,2024-01-31,12314310756,0.15,MOTO,CD SJT 001,BAIRRO INEXISTENTE,"2,8"

In [146]:
#Excluíndo o atributo duplicado

df_nulos_proc.drop(['BAIRRO_y'],axis=1,inplace=True)

#modificando o nome do atributo

df_nulos_proc.rename(columns={'BAIRRO_x':'BAIRRO'},inplace=True)

#exibindo as info

df_nulos_proc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7952 entries, 0 to 98191
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  7952 non-null   int64
 1   FRANQUEADO         7952 non-null   object
 2   BASE_ENTREGA       7952 non-null   object
 3   AGREGADO           7952 non-null   object
 4   ASSINATURA         7952 non-null   object
 5   VALOR_MERCADORIA   7952 non-null   float64
 6   CEP                7952 non-null   int64
 7   ENDERECO_COMPLETO  7952 non-null   object
 8   CIDADE             7952 non-null   object
 9   BAIRRO             7952 non-null   object
 10  DESTINATARIO       7952 non-null   object
 11  HORARIO_ENTREGA    7952 non-null   object
 12  CPF_CNPJ           7952 non-null   int64
 13  PESO_COBRAVEL      7952 non-null   float64
 14  TIPO_VEICULO       7948 non-null   object
 15  BASE               7948 non-null   object
 16  VALOR              7948 non-null   object
dtypes: float64(2), int64(3), object(12)
memory usage: 1.1+ MB

In [147]:
df_nulos_proc.isnull().sum()

NUMERO_PEDIDO_JMS    0
FRANQUEADO           0
BASE_ENTREGA         0
AGREGADO             0
ASSINATURA           0
VALOR_MERCADORIA     0
CEP                  0
ENDERECO_COMPLETO    0
CIDADE               0
BAIRRO               0
DESTINATARIO         0
HORARIO_ENTREGA      0
CPF_CNPJ             0
PESO_COBRAVEL        0
TIPO_VEICULO         4
BASE                 4
VALOR                4
dtype: int64

In [148]:
#verificandos o valores que ainda costam como nulo

df_nulos_proc02 = df_nulos_proc[df_nulos_proc['VALOR'].isna()]

df_nulos_proc02.head()

,NUMERO_PEDIDO_JMS,FRANQUEADO,BASE_ENTREGA,AGREGADO,ASSINATURA,VALOR_MERCADORIA,CEP,ENDERECO_COMPLETO,CIDADE,BAIRRO,DESTINATARIO,HORARIO_ENTREGA,CPF_CNPJ,PESO_COBRAVEL,TIPO_VEICULO,BASE,VALOR
23737,888090000883528,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,671.81,22763530,"RUA DANIELRUA DANIEL, 42, BL16 AP108",RIO DE JANEIRO,CIDADE DE DEUS,EDMO SANTOS DE FREITAS,2024-01-31,25626059008,24.00,NaN,NaN,NaN
95589,888000405116595,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,25.99,22713558,RUA DA AMIZADERUA DA AMIZADE 16,RIO DE JANEIRO,JACAREPAGUA,ANA LUIZA LISBOA,2024-01-31,25626059008,0.27,NaN,NaN,NaN
95777,888000406621223,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,152.00,22713576,RUA NOSSA SENHORA DOS REMÉDIOSRUA NOSSA SENHOR...,RIO DE JANEIRO,JACAREPAGUA,VALDIR GOMES,2024-01-31,25626059008,3.17,NaN,NaN,NaN
97771,888000402417520,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,67.41,22713555,RUA MANOEL GOMES FERREIRARUA MANOEL GOMES FERR...,RIO DE JANEIRO,JACAREPAGUA,ANA ALICE,2024-01-31,25626059008,0.30,NaN,NaN,NaN

Excluído os missings do daframe dos pacotes para depois fazer a concatenação

In [149]:
df_pacotes_full.dropna(subset=['VALOR'],inplace=True)

df_pacotes_full.isnull().sum()

NUMERO_PEDIDO_JMS    0
FRANQUEADO           0
BASE_ENTREGA         0
AGREGADO             0
ASSINATURA           0
VALOR_MERCADORIA     0
CEP                  0
ENDERECO_COMPLETO    0
CIDADE               0
BAIRRO               0
DESTINATARIO         0
HORARIO_ENTREGA      0
CPF_CNPJ             0
PESO_COBRAVEL        0
PLACA                0
BASE_VINCULADO       5
TIPO_VEICULO         0
MARCA_VEICULO        0
BASE                 0
VALOR                0
dtype: int64

In [150]:
df_pacotes_full.shape

(6261, 20)

In [151]:
df_nulos_proc.shape

(7952, 17)

In [152]:
df_nulos_proc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7952 entries, 0 to 98191
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  7952 non-null   int64
 1   FRANQUEADO         7952 non-null   object
 2   BASE_ENTREGA       7952 non-null   object
 3   AGREGADO           7952 non-null   object
 4   ASSINATURA         7952 non-null   object
 5   VALOR_MERCADORIA   7952 non-null   float64
 6   CEP                7952 non-null   int64
 7   ENDERECO_COMPLETO  7952 non-null   object
 8   CIDADE             7952 non-null   object
 9   BAIRRO             7952 non-null   object
 10  DESTINATARIO       7952 non-null   object
 11  HORARIO_ENTREGA    7952 non-null   object
 12  CPF_CNPJ           7952 non-null   int64
 13  PESO_COBRAVEL      7952 non-null   float64
 14  TIPO_VEICULO       7948 non-null   object
 15  BASE               7948 non-null   object
 16  VALOR              7948 non-null   object
dtypes: float64(2), int64(3), object(12)
memory usage: 1.1+ MB

In [153]:
df_pacotes_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6261 entries, 0 to 14212
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  6261 non-null   int64
 1   FRANQUEADO         6261 non-null   object
 2   BASE_ENTREGA       6261 non-null   object
 3   AGREGADO           6261 non-null   object
 4   ASSINATURA         6261 non-null   object
 5   VALOR_MERCADORIA   6261 non-null   float64
 6   CEP                6261 non-null   int64
 7   ENDERECO_COMPLETO  6261 non-null   object
 8   CIDADE             6261 non-null   object
 9   BAIRRO             6261 non-null   object
 10  DESTINATARIO       6261 non-null   object
 11  HORARIO_ENTREGA    6261 non-null   object
 12  CPF_CNPJ           6261 non-null   int64
 13  PESO_COBRAVEL      6261 non-null   float64
 14  PLACA              6261 non-null   object
 15  BASE_VINCULADO     6256 non-null   object
 16  TIPO_VEICULO       6261 non-null   object
 17  MARCA_VEICULO      6261 non-null   object
 18  BASE               6261 non-null   object
 19  VALOR              6261 non-null   object
dtypes: float64(2), int64(3), object(15)
memory usage: 1.0+ MB

In [154]:
#excluído os atributos

df_pacotes_full.drop(['PLACA','MARCA_VEICULO','BASE_VINCULADO'],axis=1,inplace=True)

#Exibindo as info

df_pacotes_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6261 entries, 0 to 14212
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NUMERO_PEDIDO_JMS  6261 non-null   int64
 1   FRANQUEADO         6261 non-null   object
 2   BASE_ENTREGA       6261 non-null   object
 3   AGREGADO           6261 non-null   object
 4   ASSINATURA         6261 non-null   object
 5   VALOR_MERCADORIA   6261 non-null   float64
 6   CEP                6261 non-null   int64
 7   ENDERECO_COMPLETO  6261 non-null   object
 8   CIDADE             6261 non-null   object
 9   BAIRRO             6261 non-null   object
 10  DESTINATARIO       6261 non-null   object
 11  HORARIO_ENTREGA    6261 non-null   object
 12  CPF_CNPJ           6261 non-null   int64
 13  PESO_COBRAVEL      6261 non-null   float64
 14  TIPO_VEICULO       6261 non-null   object
 15  BASE               6261 non-null   object
 16  VALOR              6261 non-null   object
dtypes: float64(2), int64(3), object(12)
memory usage: 880.5+ KB

In [155]:
#Concatenando

df_fechamento_full = pd.concat([df_pacotes_full,df_nulos_proc])

df_fechamento_full.shape

(14213, 17)

In [156]:
df_fechamento_full['NUMERO_PEDIDO_JMS'].value_counts()

888000393967006    2
888000404907806    2
888030028272768    2
888500759132451    2
888030030185065    2
                  ..
888500759716478    1
888500759801705    1
888500759804689    1
888500759822539    1
888500760760044    1
Name: NUMERO_PEDIDO_JMS, Length: 14195, dtype: int64

In [157]:
#Excluíndo os duplicados

df_fechamento_full.drop_duplicates(subset=['NUMERO_PEDIDO_JMS'],inplace=True)

#exibindo a dimensão

df_fechamento_full.shape

(14195, 17)

In [158]:
#verificando os nulos

df_fechamento_full.isnull().sum()

NUMERO_PEDIDO_JMS    0
FRANQUEADO           0
BASE_ENTREGA         0
AGREGADO             0
ASSINATURA           0
VALOR_MERCADORIA     0
CEP                  0
ENDERECO_COMPLETO    0
CIDADE               0
BAIRRO               0
DESTINATARIO         0
HORARIO_ENTREGA      0
CPF_CNPJ             0
PESO_COBRAVEL        0
TIPO_VEICULO         4
BASE                 4
VALOR                4
dtype: int64

In [159]:
df_nulos_proc02['AGREGADO'].unique()

array(['WILSON ALVES FRANCISCO NERY'], dtype=object)

In [162]:
df_fechamento_full[df_fechamento_full['AGREGADO'] == 'WILSON ALVES FRANCISCO NERY']

,NUMERO_PEDIDO_JMS,FRANQUEADO,BASE_ENTREGA,AGREGADO,ASSINATURA,VALOR_MERCADORIA,CEP,ENDERECO_COMPLETO,CIDADE,BAIRRO,DESTINATARIO,HORARIO_ENTREGA,CPF_CNPJ,PESO_COBRAVEL,TIPO_VEICULO,BASE,VALOR
23737,888090000883528,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,671.81,22763530,"RUA DANIELRUA DANIEL, 42, BL16 AP108",RIO DE JANEIRO,CIDADE DE DEUS,EDMO SANTOS DE FREITAS,2024-01-31,25626059008,24.00,NaN,NaN,NaN
95589,888000405116595,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,25.99,22713558,RUA DA AMIZADERUA DA AMIZADE 16,RIO DE JANEIRO,JACAREPAGUA,ANA LUIZA LISBOA,2024-01-31,25626059008,0.27,NaN,NaN,NaN
95777,888000406621223,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,152.00,22713576,RUA NOSSA SENHORA DOS REMÉDIOSRUA NOSSA SENHOR...,RIO DE JANEIRO,JACAREPAGUA,VALDIR GOMES,2024-01-31,25626059008,3.17,NaN,NaN,NaN
97771,888000402417520,NP RIO 02,CD RIO 001,WILSON ALVES FRANCISCO NERY,RECEBIMENTO COM ASSINATURA NORMAL,67.41,22713555,RUA MANOEL GOMES FERREIRARUA MANOEL GOMES FERR...,RIO DE JANEIRO,JACAREPAGUA,ANA ALICE,2024-01-31,25626059008,0.30,NaN,NaN,NaN

In [161]:
#Exportando para csv

df_fechamento_full.to_csv('pacotes_agregados_valores_310124_proc.csv',encoding='utf-8',index=False)